ETI work from IoT-2040.json
[{"id":"c67ebd9f.8dd5d","type":"tab","label":"ETI","disabled":false,"info":""},{"id":"f6e70f7a.834a7","type":"ui_button","z":"c67ebd9f.8dd5d","name":"Start Manual Mode","group":"31d42b5d.784984","order":3,"width":6,"height":1,"passthru":false,"label":"On/Off Manual Mode","tooltip":"","color":"","bgcolor":"{{msg.color}}","icon":"","payload":"","payloadType":"str","topic":"buttonMANUAL","x":610,"y":60,"wires":[[]]},{"id":"82a9f8ec.de00e8","type":"ui_gauge","z":"c67ebd9f.8dd5d","name":"Inlet water Temperature","group":"52c29e76.7feb5","order":1,"width":3,"height":3,"gtype":"gage","title":"","label":"°C","format":"{{value}}","min":"-5","max":"50","colors":["#b3000c","#e6e600","#099ddc"],"seg1":"20","seg2":"21","x":650,"y":540,"wires":[]},{"id":"d3fddb4f.922fd8","type":"inject","z":"c67ebd9f.8dd5d","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":200,"wires":[["10f1bc84.3a7db3"]]},{"id":"10f1bc84.3a7db3","type":"function","z":"c67ebd9f.8dd5d","name":"Random","func":"msg.payload=Math.floor(Math.random() * 10) + 1;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":200,"wires":[["5e73433b.a0179c"]]},{"id":"5e73433b.a0179c","type":"delay","z":"c67ebd9f.8dd5d","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":200,"wires":[["870a3993.8ab8b8"]]},{"id":"870a3993.8ab8b8","type":"ui_gauge","z":"c67ebd9f.8dd5d","name":"Outlet water Temperature","group":"1cba6300.3d122d","order":1,"width":3,"height":3,"gtype":"gage","title":"","label":"°C","format":"{{value}}","min":"-10","max":"20","colors":["#01f411","#e6e600","#ca3838"],"seg1":"5","seg2":"12","x":770,"y":200,"wires":[]},{"id":"ca9cf828.013f28","type":"ui_button","z":"c67ebd9f.8dd5d","name":"Shut_down","group":"d9bf0b2f.b5e228","order":3,"width":3,"height":2,"passthru":false,"label":"Shut_down","tooltip":"","color":"","bgcolor":"{{msg.color}}","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":160,"wires":[[]]},{"id":"7f212465.f0652c","type":"ui_button","z":"c67ebd9f.8dd5d","name":"Reboot_System","group":"d9bf0b2f.b5e228","order":4,"width":3,"height":2,"passthru":false,"label":"Reboot","tooltip":"","color":"","bgcolor":"{{msg.color}}","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":120,"wires":[[]]},{"id":"5a50afe0.8002","type":"ui_button","z":"c67ebd9f.8dd5d","name":"Manual/Schedule","group":"31d42b5d.784984","order":1,"width":6,"height":1,"passthru":false,"label":"Manual/Schedule","tooltip":"click me","color":"","bgcolor":"{{msg.color}}","icon":"","payload":"true","payloadType":"str","topic":"buttonAUTO","x":150,"y":60,"wires":[["4e94f31f.d9850c"]]},{"id":"f55e23a0.6a174","type":"ui_switch","z":"c67ebd9f.8dd5d","name":"","label":"Manual/Schedual","tooltip":"","group":"31d42b5d.784984","order":2,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"s1","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":310,"y":280,"wires":[["78e832de.6b6c3c"]]},{"id":"345ebd37.6c6f22","type":"ui_switch","z":"c67ebd9f.8dd5d","name":"","label":"Manual Start/Stop","tooltip":"","group":"31d42b5d.784984","order":4,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"s2","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":310,"y":400,"wires":[["66e346e7.007bc8"]]},{"id":"4e94f31f.d9850c","type":"debug","z":"c67ebd9f.8dd5d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":330,"y":60,"wires":[]},{"id":"fdea110e.42da9","type":"mraa-gpio-dout","z":"c67ebd9f.8dd5d","name":"","d13suffix":" (Green LED)","pin":"11","set":true,"level":"0","x":570,"y":460,"wires":[]},{"id":"e83af2b6.a0575","type":"debug","z":"c67ebd9f.8dd5d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":440,"wires":[]},{"id":"66e346e7.007bc8","type":"function","z":"c67ebd9f.8dd5d","name":"output control","func":"var payload = msg.payload;\nvar count1=global.get('count');\n\nif (count1 === \"inactive\"){\n        msg.payload = payload;\n        return msg;\n}\n\nif (count1 === \"active\"){\n        msg.payload = false;\n        return msg;\n    \n}\n\n\n\n\n\n","outputs":1,"noerr":0,"x":500,"y":400,"wires":[["e83af2b6.a0575","fdea110e.42da9","19c1e0bf.a0e17f"]]},{"id":"9230343a.415df8","type":"inject","z":"c67ebd9f.8dd5d","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":440,"wires":[["345ebd37.6c6f22"]]},{"id":"e1d6c22a.29beb","type":"inject","z":"c67ebd9f.8dd5d","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":380,"wires":[["345ebd37.6c6f22"]]},{"id":"760eac0c.5ab8f4","type":"inject","z":"c67ebd9f.8dd5d","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":320,"wires":[["f55e23a0.6a174"]]},{"id":"3d4ed29.15bd02e","type":"inject","z":"c67ebd9f.8dd5d","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":260,"wires":[["f55e23a0.6a174"]]},{"id":"15cefec1.133b11","type":"debug","z":"c67ebd9f.8dd5d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":280,"wires":[]},{"id":"78e832de.6b6c3c","type":"function","z":"c67ebd9f.8dd5d","name":"active/inactive","func":"var payload = msg.payload;\nvar count=global.get('count') || 0;\n\nif(payload === true){\n    count = \"active\";\n}\nelse {\n    count = \"inactive\";\n}\n\n\nmsg.payload=count;\n\n\nglobal.set('count',count);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":280,"wires":[["15cefec1.133b11"]]},{"id":"803f37da.b35b58","type":"debug","z":"c67ebd9f.8dd5d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":370,"y":520,"wires":[]},{"id":"145bebda.04c934","type":"inject","z":"c67ebd9f.8dd5d","name":"","topic":"","payload":"count","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":520,"wires":[["803f37da.b35b58"]]},{"id":"52c7798d.f517f8","type":"ui_template","z":"c67ebd9f.8dd5d","group":"29aa45da.34f32a","name":"Switch 1 Status","order":2,"width":2,"height":3,"format":"<style>\n.led-green {\nmargin: 0 auto;\nwidth: 84px;\nheight: 84px;\nbackground-color: #ABFF00;\nborder-radius: 50%;\n{\n</style>\n<table>\n    <tr>\n  <h4> &nbsp &nbsp STATUS </h4>\n</tr>\n<tr>\n<td><div class=\"led-green\" style=\"background-color:{{msg.payload}}\"></div></td>\n<td></td>\n</tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":860,"y":400,"wires":[[]]},{"id":"19c1e0bf.a0e17f","type":"function","z":"c67ebd9f.8dd5d","name":"Couleur","func":"\nif (msg.topic==\"manualschedual\") //not real value\n{\n    var newmsg={};\n    newmsg.payload= \"black\" ;\n\treturn newmsg;\n\n}\n\nif(msg.payload == '1' || msg.payload==1 || msg.payload)\n{\n\tvar newmsg = {\n    payload: \"lime\" \n\t};\n\treturn newmsg;\n}\nelse if(msg.payload =='0' || msg.payload==0 || !msg.payload)\n{\n\tvar newmsg = {\n    payload: \"red\" \n\t};\n\treturn newmsg;\n}","outputs":1,"noerr":0,"x":700,"y":400,"wires":[["52c7798d.f517f8"]]},{"id":"c571931d.28edc","type":"modbus-read","z":"c67ebd9f.8dd5d","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"100","quantity":"2","rate":"2","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"318dde7.18bd422","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":130,"y":600,"wires":[["652a6373.cfd30c"],[]]},{"id":"652a6373.cfd30c","type":"function","z":"c67ebd9f.8dd5d","name":"convert","func":"let pay = msg.payload;\nconst buf = Buffer.allocUnsafe(4); // (4) is ok\nbuf.writeUInt16BE(pay[0]); // high byte\nmsg.payload = buf.readFloatBE().toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":600,"wires":[["82a9f8ec.de00e8","5bcdebf7.d0c964"]]},{"id":"5bcdebf7.d0c964","type":"debug","z":"c67ebd9f.8dd5d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":600,"wires":[]},{"id":"31d42b5d.784984","type":"ui_group","z":"","name":"Control System","tab":"49a4eac6.e32a54","order":4,"disp":true,"width":6,"collapse":true},{"id":"52c29e76.7feb5","type":"ui_group","z":"","name":"Inlet","tab":"49a4eac6.e32a54","order":2,"disp":true,"width":3,"collapse":true},{"id":"1cba6300.3d122d","type":"ui_group","z":"","name":"Outlet","tab":"49a4eac6.e32a54","order":3,"disp":true,"width":3,"collapse":true},{"id":"d9bf0b2f.b5e228","type":"ui_group","z":"","name":"Control_Panel of IoT2040","tab":"27ed892.8317176","order":5,"disp":true,"width":"6","collapse":true},{"id":"29aa45da.34f32a","type":"ui_group","z":"","name":"Device Status","tab":"49a4eac6.e32a54","order":1,"disp":false,"width":"6","collapse":false},{"id":"318dde7.18bd422","type":"modbus-client","z":"","name":"","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyS2","serialType":"RTU-BUFFERD","serialBaudrate":"19200","serialDatabits":"8","serialStopbits":"1","serialParity":"even","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"49a4eac6.e32a54","type":"ui_tab","z":"","name":"ETI","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"27ed892.8317176","type":"ui_tab","z":"","name":"IoT 2040 Switch","icon":"dashboard","order":2,"disabled":false,"hidden":false}]