Schedule from IoT-2040.txt
[{"id":"f6039fde.a8421","type":"subflow","name":"Subflow 2 (2)","info":"","in":[{"x":60,"y":80,"wires":[{"id":"13d4b39f.7898cc"}]}],"out":[{"x":320,"y":80,"wires":[{"id":"13d4b39f.7898cc","port":0}]}]},{"id":"13d4b39f.7898cc","type":"ui_table","z":"f6039fde.a8421","group":"26026863.2117a8","name":"","order":2,"width":"6","height":"6","columns":[],"outputs":1,"cts":true,"x":190,"y":80,"wires":[[]]},{"id":"927f6c8a.72eaa","type":"subflow","name":"timerange (2)","info":"Lets through or blocks a payload\nbased on a time range. This can\neither be configured through the\nenviroment variables in the node ui\nor as described below with a message\nthat has an override topic.\nIf in range the msg will be passed\nto the first output and otherwise\nto the second.\nThe start and stop time needs\nto be defined in an hh:mm format.\nThere is also a week array. The week\nstarts on monday so 4 for example is\nThursday. Payload will only be passed\non days that are in the array.\nOut of time range payloads will\nbe redirected to the second output.\nThe schedule can be overriden by injecting\na message with the topic of \"override\"\nthat contains a ```msg.payload``` object with the\nkeys of \"start\",\"stop\",\"days\" like\nthis:\n```\n{\n    \"start\": \"10:00\",\n    \"stop\": \"14:00\",\n    \"days\": [\n        1,\n        2,\n        3,\n        4,\n        5,\n        6,\n        7\n    ]\n}\n```\nStart and stop need to be strings in the hh:mm\nformat and days an array of numbers as\ndescribed above.\nThe override can be deleted by injecting a\nmsg.payload string \"reset\".","category":"","in":[{"x":100,"y":100,"wires":[{"id":"8f2daf8f.9088"}]}],"out":[{"x":620,"y":60,"wires":[{"id":"e63fc41f.10c108","port":0}]},{"x":620,"y":140,"wires":[{"id":"e63fc41f.10c108","port":1}]}],"env":[{"name":"start","type":"str","value":"00:00","ui":{"icon":"font-awesome/fa-arrow-right","label":{"en-US":"from hh:mm"},"type":"input","opts":{"types":["str"]}}},{"name":"stop","type":"str","value":"00:00","ui":{"icon":"font-awesome/fa-circle","label":{"en-US":"until hh:mm"},"type":"input","opts":{"types":["str"]}}},{"name":"days","type":"json","value":"[1,2,3,4,5,6,7]","ui":{"icon":"font-awesome/fa-calendar","label":{"en-US":"days"},"type":"input","opts":{"types":["json"]}}}],"inputLabels":["payload input"],"outputLabels":["in time range","out of time range"],"icon":"node-red/switch.svg","status":{"x":480,"y":200,"wires":[{"id":"8218815d.b8ee1","port":0}]}},{"id":"e63fc41f.10c108","type":"function","z":"927f6c8a.72eaa","name":"is in range?","func":"const schedule = flow.get(\"schedule\");\nlet start = env.get(\"start\");\nlet stop = env.get(\"stop\");\nlet days = env.get(\"days\");\nif(schedule !== undefined){\n    start = schedule.start;\n    stop = schedule.stop;\n    days = schedule.days;\n}\nconst time = new Date();\nlet day = time.getDay();\nif(day === 0) day = 7;\nlet hour = String(time.getHours());\nlet minute = String(time.getMinutes());\nif(hour.length == 1) hour = \"0\" + hour;\nif(minute.length == 1) minute = \"0\" + minute;\nconst hmtime = hour + \":\" + minute;\nif(days.includes(day)){\n    if(start == stop){\n        return [msg, null];\n    } else if(start > stop){\n        if(hmtime >= start || hmtime < stop){\n            return [msg, null];\n        } else {\n            return [null, msg];\n        }\n    } else if(hmtime >= start && hmtime < stop){\n        return [msg, null];\n    } else {\n        return [null, msg];\n    }\n} else {\n    return null;\n}","outputs":2,"noerr":0,"x":450,"y":100,"wires":[[],[]]},{"id":"cabad07e.d8ff9","type":"inject","z":"927f6c8a.72eaa","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":200,"wires":[["8218815d.b8ee1"]]},{"id":"8218815d.b8ee1","type":"function","z":"927f6c8a.72eaa","name":"display rule","func":"const schedule = flow.get(\"schedule\");\nif(typeof schedule == \"object\"){\n    const start = schedule.start;\n    const stop = schedule.stop;\n    const days = String(schedule.days).replace(/1/g,\"Mo\").replace(/2/g,\"Tu\").replace(/3/g,\"We\").replace(/4/g,\"Th\").replace(/5/g,\"Fr\").replace(/6/g,\"Sa\").replace(/7/g,\"Su\");\n    msg.payload = \"override: \" + start + \"-\" + stop + \"/\" + days;\n} else {\n    const start = env.get(\"start\");\n    const stop = env.get(\"stop\");\n    const days = String(env.get(\"days\")).replace(/1/g,\"Mo\").replace(/2/g,\"Tu\").replace(/3/g,\"We\").replace(/4/g,\"Th\").replace(/5/g,\"Fr\").replace(/6/g,\"Sa\").replace(/7/g,\"Su\");\n    const override = false;\n    msg.payload = start + \"-\" + stop + \"/\" + days;\n}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":200,"wires":[[]]},{"id":"8f2daf8f.9088","type":"function","z":"927f6c8a.72eaa","name":"check for override","func":"if(msg.topic == \"override\"){\n    flow.set(\"schedule\",msg.payload);\n    return [null, msg];\n} else if (msg.payload == \"reset\"){\n    let reset;\n    flow.set(\"schedule\",reset);\n    return [null, msg];\n} else {\n    return [msg, null];\n}","outputs":2,"noerr":0,"x":250,"y":100,"wires":[["e63fc41f.10c108"],["8218815d.b8ee1"]]},{"id":"6ef3c402.252bcc","type":"subflow","name":"scheduler (2)","info":"A scheduler that repeatedly executes\nschedules put in as an array of objects\nas a ```msg.payload``` in the format of:\n```\n[\n  {\n    \"item\": \"test\",\n    \"command\": \"ON\",\n    \"time\": \"08:30\"\n  },\n  {\n    \"item\": \"test\",\n    \"command\": \"OFF\",\n    \"time\": \"19:45\"\n  }\n]\n```\npassing an empty array as a payload will\nreset the node.\nThe second output is a debug.\nSending a msg.payload string of \"debug\"\nwill send an object of the schedule and the\ncorresponding timers that are scheduled\nto this output.\nAt schedule time a msg oject will be send\nfrom the first output. The command will be\npassed as the ```msg.payload```, the item in\n```msg.item``` and the original schedule object\nin ```msg.original```.","category":"","in":[{"x":80,"y":180,"wires":[{"id":"6bb7101.43c05f"}]}],"out":[{"x":1300,"y":180,"wires":[{"id":"84e8fa47.da00d8","port":0}]},{"x":560,"y":120,"wires":[{"id":"81f67e9.b83988","port":0}]}],"env":[],"inputLabels":["schedule input"],"outputLabels":["command output",""],"icon":"node-red/timer.svg","status":{"x":1180,"y":260,"wires":[{"id":"8149d0d3.39616","port":0}]}},{"id":"67395ed4.b1b41","type":"function","z":"6ef3c402.252bcc","name":"schedule function","func":"const schedule = msg.payload;\nif(typeof msg.payload === \"undefined\") return null;\nlet scheduled = context.scheduled || [];\nlet todelete = [];\nscheduled.forEach((item,index) => {\n    if(!schedule.some(element => JSON.stringify(element) == JSON.stringify(item.schedule))){\n        clearTimeout(item.timer);\n        todelete.push(index);\n    }\n})\nscheduled = scheduled.filter((item,index) => !todelete.includes(index));\ncontext.scheduled = scheduled;\nschedule.forEach(element => {\n    const execute = element;\n    const time = new Date();\n    const timestamp = time.getTime();\n    const hour = time.getHours();\n    const minute = time.getMinutes();\n    const year = time.getFullYear();\n    const month = time.getMonth();\n    const day = time.getDate();\n    const inputS = execute.time.split(\":\");\n    const hourS = parseInt(inputS[0]);\n    const minuteS = parseInt(inputS[1]);\n    if(typeof hourS != \"number\" || typeof minuteS != \"number\") return null;\n    const timeS = new Date(year, month, day, hourS, minuteS);\n    const timestampS = timeS.getTime();\n    let timestampD = 0;\n    if(timestampS >= timestamp){\n        timestampD = timestampS - timestamp;\n    } else {\n        timestampD = (timestampS + 86400000) - timestamp;\n    }\n    let oldscheduled = context.scheduled;\n    if(!oldscheduled.some(element => JSON.stringify(element.schedule) == JSON.stringify(execute))){\n        const newtimer = setTimeout(()=>{\n            let newscheduled = context.scheduled;\n            const deleteindex = newscheduled.indexOf(newschedule);\n            newscheduled.splice(deleteindex,1);\n            node.send({payload:newschedule.schedule});\n            context.scheduled = newscheduled;\n        },timestampD);\n        const newschedule = {\n            runtime: timestampD,\n            timer: newtimer,\n            schedule: execute\n        };\n        oldscheduled.push(newschedule);\n        context.scheduled = oldscheduled;\n    }\n});\nconst sendscheduled = context.scheduled;\nmsg.topic = \"scheduled\";\nconst newmsg = sendscheduled.map(item => {\n    return {schedule:item.schedule,runtime:item.runtime}\n});\nmsg.payload = newmsg;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":180,"wires":[["7897cff6.0f73a"]]},{"id":"8149d0d3.39616","type":"function","z":"6ef3c402.252bcc","name":"get next schedule item","func":"const schedule = flow.get(\"schedule\") || [];\nif(schedule.length === 0){\n    msg.payload = \"no schedule yet\";\n    return msg;\n}\nconst time = new Date();\nlet hour = String(time.getHours());\nlet minute = String(time.getMinutes());\nif(hour.length == 1) hour = \"0\" + hour;\nif(minute.length == 1) minute = \"0\" + minute;\nconst hmtime = hour + \":\" + minute;\nlet nextindex = 0;\nfor(i=0;i<schedule.length;i++){\n    if(hmtime < schedule[i].time){\n        nextindex = i;\n        break;\n    } else {\n        continue;\n    }\n}\nmsg.payload = schedule[nextindex].item + \",\" + schedule[nextindex].command + \",\" + schedule[nextindex].time;\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":260,"wires":[[]]},{"id":"2762a382.fd5a8c","type":"function","z":"6ef3c402.252bcc","name":"sort schedule and save to flow","func":"const oldschedule = msg.payload;\nlet newschedule = [];\noldschedule.forEach(element => {\n    let newindex = null;\n    if(newschedule.length > 0){\n        for(i=0;i<newschedule.length-1;i++){\n            if(element.time >= newschedule[i].time && element.time < newschedule[i+1].time){\n                newindex = i+1;\n            }\n        }\n        if(newindex !== null){\n            newschedule.splice(newindex,0,element);\n        } else if (element.time < newschedule[0].time){\n            newschedule.splice(0,0,element);\n        } else {\n            newschedule.push(element);\n        }\n    } else {\n        newschedule.push(element);\n    }\n});\nflow.set(\"schedule\",newschedule);\nmsg.payload = newschedule;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":180,"wires":[["8149d0d3.39616","67395ed4.b1b41"]]},{"id":"a1fcac10.0d1bd","type":"inject","z":"6ef3c402.252bcc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":270,"y":260,"wires":[["8149d0d3.39616","a39903a6.7f8ef"]]},{"id":"6bb7101.43c05f","type":"switch","z":"6ef3c402.252bcc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"debug","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":180,"wires":[["81f67e9.b83988"],["2762a382.fd5a8c"]]},{"id":"84e8fa47.da00d8","type":"change","z":"6ef3c402.252bcc","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"original","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"original.command","tot":"msg"},{"t":"set","p":"item","pt":"msg","to":"original.item","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":180,"wires":[[]]},{"id":"7897cff6.0f73a","type":"switch","z":"6ef3c402.252bcc","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"scheduled","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":970,"y":180,"wires":[["238e4710.ed5f18"],["84e8fa47.da00d8","8149d0d3.39616","a5ebc44c.539628"]]},{"id":"81f67e9.b83988","type":"change","z":"6ef3c402.252bcc","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.schedule","pt":"msg","to":"schedule","tot":"flow"},{"t":"set","p":"payload.scheduled","pt":"msg","to":"scheduled","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":120,"wires":[[]]},{"id":"a39903a6.7f8ef","type":"trigger","z":"6ef3c402.252bcc","op1":"[]","op2":"schedule","op1type":"json","op2type":"flow","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":600,"y":220,"wires":[["67395ed4.b1b41"]]},{"id":"238e4710.ed5f18","type":"change","z":"6ef3c402.252bcc","name":"","rules":[{"t":"set","p":"scheduled","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":120,"wires":[[]]},{"id":"a5ebc44c.539628","type":"trigger","z":"6ef3c402.252bcc","op1":"","op2":"schedule","op1type":"nul","op2type":"flow","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":780,"y":120,"wires":[["67395ed4.b1b41"]]},{"id":"6fa71645.f00598","type":"tab","label":"Timer in Dashboard","disabled":false,"info":""},{"id":"c9475e9e.7bf65","type":"ui_form","z":"6fa71645.f00598","name":"","label":"Adauga articol de programat","group":"26026863.2117a8","order":1,"width":0,"height":0,"options":[{"label":"Item","value":"item","type":"text","required":true,"rows":null},{"label":"Command","value":"command","type":"text","required":true,"rows":null},{"label":"Time","value":"time","type":"text","required":true,"rows":null}],"formValue":{"item":"","command":"","time":""},"payload":"","submit":"Add","cancel":"","topic":"","x":420,"y":100,"wires":[["fabdb52c.277578"]]},{"id":"fabdb52c.277578","type":"function","z":"6fa71645.f00598","name":"add to schedule","func":"let schedule = flow.get(\"schedule\") || [];\nlet command = msg.payload;\nlet newindex = null;\nif(schedule.length > 0){\n    for(i=0;i<schedule.length-1;i++){\n        if(command.time >= schedule[i].time && command.time < schedule[i+1].time){\n            newindex = i+1;\n        }\n    }\n    if(newindex !== null){\n        schedule.splice(newindex,0,command);\n    } else if (command.time < schedule[0].time){\n        schedule.splice(0,0,command);\n    } else {\n        schedule.push(command);\n    }\n} else {\n    schedule.push(command);\n}\nflow.set(\"schedule\", schedule);\nmsg.payload = schedule;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":160,"wires":[["a8847c8.a6ba98","8b37b2f8.8b391","b0a04285.aeaeb"]]},{"id":"ce1cdffb.fe3e3","type":"function","z":"6fa71645.f00598","name":"remove from schedule","func":"if (msg.payload == \"Cancel\") return null;\nlet schedule = flow.get(\"schedule\");\nschedule.splice(msg.row, 1);\nflow.set(\"schedule\", schedule);\nmsg.payload = schedule;\nreturn msg;","outputs":1,"noerr":0,"x":1380,"y":160,"wires":[["a8847c8.a6ba98","8b37b2f8.8b391","b0a04285.aeaeb"]]},{"id":"a7b269.0cddfd98","type":"ui_toast","z":"6fa71645.f00598","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"Cancel","topic":"","name":"","x":1170,"y":160,"wires":[["ce1cdffb.fe3e3"]]},{"id":"e9f7204e.ae5de","type":"change","z":"6fa71645.f00598","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"content","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"Delete this schedule?","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Delete","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":160,"wires":[["a7b269.0cddfd98"]]},{"id":"a8847c8.a6ba98","type":"delay","z":"6fa71645.f00598","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":810,"y":100,"wires":[["44af3566.5973ec"]]},{"id":"fce8183f.3133f8","type":"ui_ui_control","z":"6fa71645.f00598","name":"","x":1180,"y":100,"wires":[[]]},{"id":"44af3566.5973ec","type":"change","z":"6fa71645.f00598","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tab\":\"\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":100,"wires":[["fce8183f.3133f8"]]},{"id":"e16d3ce5.971d8","type":"inject","z":"6fa71645.f00598","name":"","topic":"","payload":"schedule","payloadType":"flow","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":360,"y":300,"wires":[["84997c39.fc568"]]},{"id":"8b37b2f8.8b391","type":"subflow:6ef3c402.252bcc","z":"6fa71645.f00598","name":"","env":[],"x":970,"y":300,"wires":[["daf6964b.37ccf8"],[]]},{"id":"11a1f4f8.e4fdcb","type":"function","z":"6fa71645.f00598","name":"format","func":"const days = msg.payload.days.split(\",\").map(item=>parseInt(item));\nconst schedule = {\n    start: \"00:00\",\n    stop: \"00:00\",\n    days: days\n}\nmsg.topic = \"override\";\nmsg.payload = schedule;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":400,"wires":[["daf6964b.37ccf8"]]},{"id":"a532527f.a3802","type":"ui_form","z":"6fa71645.f00598","name":"","label":"change active days","group":"26026863.2117a8","order":4,"width":0,"height":0,"options":[{"label":"Weekdays","value":"days","type":"text","required":true}],"formValue":{"days":""},"payload":"","submit":"change","cancel":"","topic":"","x":570,"y":400,"wires":[["11a1f4f8.e4fdcb","500336fe.0e4fd8"]]},{"id":"8b9e5a7e.8faec8","type":"ui_text","z":"6fa71645.f00598","group":"26026863.2117a8","order":3,"width":0,"height":0,"name":"","label":"active on:","format":"{{msg.payload.days}}","layout":"row-spread","x":1000,"y":460,"wires":[]},{"id":"500336fe.0e4fd8","type":"change","z":"6fa71645.f00598","name":"","rules":[{"t":"change","p":"payload.days","pt":"msg","from":"1","fromt":"str","to":"Mo","tot":"str"},{"t":"change","p":"payload.days","pt":"msg","from":"2","fromt":"str","to":"Tu","tot":"str"},{"t":"change","p":"payload.days","pt":"msg","from":"3","fromt":"str","to":"We","tot":"str"},{"t":"change","p":"payload.days","pt":"msg","from":"4","fromt":"str","to":"Th","tot":"str"},{"t":"change","p":"payload.days","pt":"msg","from":"5","fromt":"str","to":"Fr","tot":"str"},{"t":"change","p":"payload.days","pt":"msg","from":"6","fromt":"str","to":"Sa","tot":"str"},{"t":"change","p":"payload.days","pt":"msg","from":"7","fromt":"str","to":"Su","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":460,"wires":[["8b9e5a7e.8faec8"]]},{"id":"af7cbeea.1402a","type":"debug","z":"6fa71645.f00598","name":"Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1430,"y":300,"wires":[]},{"id":"daf6964b.37ccf8","type":"subflow:927f6c8a.72eaa","z":"6fa71645.f00598","name":"","env":[],"x":1200,"y":340,"wires":[["af7cbeea.1402a","28f90abb.bd38c6","259ab424.21868c"],[]]},{"id":"28f90abb.bd38c6","type":"debug","z":"6fa71645.f00598","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"item","targetType":"msg","x":1440,"y":360,"wires":[]},{"id":"b0a04285.aeaeb","type":"subflow:f6039fde.a8421","z":"6fa71645.f00598","name":"","env":[],"x":800,"y":160,"wires":[["e9f7204e.ae5de"]]},{"id":"84997c39.fc568","type":"function","z":"6fa71645.f00598","name":"To check the schedule/manual mode","func":"var count1=global.get('count');\nvar payload = msg.payload;\nif (count1 === 'schedule'){\n    if(payload === \"ON\"){\n        msg.payload = true;\n        return msg;\n    }if(payload === \"OFF\"){\n        msg.payload = false;\n        return msg;\n    }\nreturn msg;}","outputs":1,"noerr":0,"x":690,"y":300,"wires":[["8b37b2f8.8b391"]]},{"id":"259ab424.21868c","type":"function","z":"6fa71645.f00598","name":"Switch by status","func":"var Item1 = msg.item;\nvar Status = msg.payload;\n\nif (Item1 === \"Chiller\"){\n    if(Status === \"ON\"){\n        msg.payload = true;\n        return msg;\n    }if (Status === \"OFF\"){\n        msg.payload = false;\n        return msg;\n    }\n}","outputs":1,"noerr":0,"x":1260,"y":420,"wires":[["b5f8422a.41bd3","675ff9ef.132ff8"]]},{"id":"b5f8422a.41bd3","type":"debug","z":"6fa71645.f00598","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1470,"y":420,"wires":[]},{"id":"675ff9ef.132ff8","type":"mraa-gpio-dout","z":"6fa71645.f00598","name":"","d13suffix":" (Green LED)","pin":"11","set":true,"level":"0","x":1410,"y":480,"wires":[]},{"id":"26026863.2117a8","type":"ui_group","z":"","name":"Scheduler","tab":"fa908348.2de9","order":1,"disp":false,"width":"6","collapse":false},{"id":"fa908348.2de9","type":"ui_tab","z":"","name":"Scheduler","icon":"autorenew","order":3,"disabled":false,"hidden":false}]