ThingsBoard.Io from IoT-2040.json
[{"id":"ce87d7fe.0f4078","type":"tab","label":"ThingsBoard.io","disabled":false,"info":""},{"id":"aefcc81d.e94e48","type":"inject","z":"ce87d7fe.0f4078","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":260,"wires":[["fae3bf32.cb67d","5f7804fc.aeffac"]]},{"id":"6638acd.2ae6e54","type":"debug","z":"ce87d7fe.0f4078","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":360,"wires":[]},{"id":"f1a24622.21d5e8","type":"mqtt out","z":"ce87d7fe.0f4078","name":"","topic":"v1/devices/me/telemetry","qos":"","retain":"","broker":"3ad4978e.9f58a8","x":710,"y":260,"wires":[]},{"id":"fae3bf32.cb67d","type":"function","z":"ce87d7fe.0f4078","name":"Random","func":"var Random = Math.floor(Math.random() * 20) + 1;\nmsg.payload = {\"PeopleIN\": Random}; \nreturn msg;","outputs":1,"noerr":0,"x":400,"y":200,"wires":[["6638acd.2ae6e54","f1a24622.21d5e8"]]},{"id":"1787e120.bd5b1f","type":"function","z":"ce87d7fe.0f4078","name":"Random","func":"var Random = Math.floor(Math.random() * 6) + 1;\nmsg.payload = {\"PeopleOUT\": Random}; \nreturn msg;","outputs":1,"noerr":0,"x":400,"y":280,"wires":[["f1a24622.21d5e8","6638acd.2ae6e54"]]},{"id":"5f7804fc.aeffac","type":"delay","z":"ce87d7fe.0f4078","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":350,"y":380,"wires":[["1787e120.bd5b1f"]]},{"id":"837a86a0.a14288","type":"http request","z":"ce87d7fe.0f4078","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://10.100.1.204:8080/api/v1/T2_TEST_TOKEN/telemetry","tls":"","proxy":"","authType":"","x":510,"y":520,"wires":[["fbae14b4.c5ef78"]]},{"id":"7bae21ad.2f48","type":"inject","z":"ce87d7fe.0f4078","name":"","topic":"","payload":"{\"Safe\":\"Safe To Enter\"}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":460,"wires":[["837a86a0.a14288"]]},{"id":"fbae14b4.c5ef78","type":"debug","z":"ce87d7fe.0f4078","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":520,"wires":[]},{"id":"fa74969f.c76498","type":"inject","z":"ce87d7fe.0f4078","name":"","topic":"{\"Risk\": \"Do Not Enter\"}","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":540,"wires":[["837a86a0.a14288"]]},{"id":"3ad4978e.9f58a8","type":"mqtt-broker","z":"","name":"","broker":"10.100.1.204","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]